.button {
  display: block;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.button-primary {
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $slider-green;
  }

  &:active {
    background-color: $slider-green;
    color: rgba(255, 255, 255, 0.3);
  }
}
