.card__wrapper {
  box-sizing: border-box;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0 39px 37px 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#ffffff 15%, #f2f2f2 15%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 40px 38px 40px;
  }
}

.card__container {
  display: grid;
  grid-template-columns: 140px 140px;
  margin-bottom: 13px;
  padding-bottom: 9px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 391px;
    margin-bottom: 32px;
    padding-bottom: 10px;
  }
}

.card__image {
  justify-self: center;
  align-self: flex-end;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $very-dark-grey;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 56px;
    padding-right: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;

  @media (min-width: $tablet-width) {
    row-gap: 7px;
  }
}

.card__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $medium-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: 1px solid $special-grey;
  }
}

.card__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $medium-grey;
  text-align: right;
  margin: 0;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $special-grey;
  }
}

.card-additional__wrapper {
  box-sizing: border-box;
  width: 280px;
  margin: auto;
  text-align: center;
  padding-top: 58px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top 5px center;

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 80px;
    padding: 161px 36px 36px 36px;
    border: 2px solid $very-light-gray;
    background-image: url("../../img/plus-tablet.svg");
    background-position: top 52px center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 157px 38px 40px 38px;
  }
}

.card-additional__title {
  max-width: 280px;
  color: $dark-grey;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.card-additional__description {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    margin-bottom: 87px;
    padding: 0 20px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.card__button {
  padding: 8px 0;
}

.card__button--more {
  color: $medium-grey;
  background-color: $very-light-gray;

  &:hover {
    background-color: $light-gray;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
