.cooperation-catalog {
  background-color: $very-light-gray;
}

.cooperation__invite {
  padding-top: 26px;
  padding-bottom: 26px;
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey;
  margin: 0;
}

.cooperation__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $medium-grey;
  margin: 0;
}
