.index__hero {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-licks.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding: 27px 15px 154px 15px;
}

.index__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0;
}

.index__intro {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  margin: 0;
}

.index__button-selection {
  font-size: 14px;
  line-height: 18px;
}
