.index__header {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/cat-licks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 585px;
  }
}

.index__hero {
  text-align: center;
  margin-bottom: 302px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    padding-top: 62px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
  }
}

.index__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }
}

.index__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    color: $black;
  }
}

.index__button {
  width: 280px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
