.index__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin-left: 117px;
    padding-top: 62px;
    padding-bottom: 528px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: auto;
    padding-top: 111px;
    padding-bottom: 182px;
    padding-left: 136px;
  }
}

.index__header {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-licks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-licks@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 585px;
    margin-bottom: 80px;
  }
}

.index__hero {
  text-align: center;
  margin-bottom: 302px;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin-bottom: 49px;
    text-align: left;
  }
}

.index__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin-bottom: 41px;
  }
}

.index__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.index__button {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    margin-left: 0;
    padding: 16px 0;
  }
}

.index-image {
  position: absolute;
  bottom: 43px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    bottom: 0;
    left: -117px;
    z-index: -1;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 476px;
    bottom: 54px;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
