.logo__icon {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
