// .main-nav {
//   position: relative;
// }

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($black, 30%);
  box-shadow:
    0 8px 0 0 fade($black, 30%),
    0 16px 0 0 fade($black, 30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade($black, 30%);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 2;
    background-color: $white;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
    min-height: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}
