.main-header--index::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    right: 0;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/big-cat-licks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/big-cat-licks@2x.jpg");
    }
  }
}

.main-header__wrapper {
  max-width: 280px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
    padding-top: 55px;
  }
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
