.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.navigation__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__item {
  text-align: center;
}

.navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}
