.order-form__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
    margin: auto;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.order-form__group {
  position: relative;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid $ashgray;

  &--line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $green;
    top: 16px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.order-form__group-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: auto;
  }
}

.order-form__title-wrapper {
  max-width: 222px;
  margin-bottom: 35px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    max-width: 590px;
    margin-bottom: 72px;
    margin-left: -40px;

    &--add {
      margin-bottom: 53px;
    }
  }
}

.order-form__title {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order-form__radio {
  display: grid;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 20px 28px;
    border: 1px solid $platinum;
  }
}

.order-form__group-container {
  display: grid;
  row-gap: 13px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: auto;
    padding: 0 110px;

    &--desktop {
      padding: 0;
    }
  }
}

.order-form__group-user {
  margin-bottom: 22px;
  padding-bottom: 0;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.order-form__group-add {
  padding-bottom: 0;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.order-form__contacts {
  display: grid;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    align-items: center;
  }
}

.order-form__field-group {
  display: flex;
  align-items: center;
  margin: 0;

  & input {
    flex-grow: 1;
  }
}

.order-form__item {
  padding: 6px 0;

  &:focus-within {
    outline: 2px solid $medium-grey;
    outline-offset: -2px;
  }
}

.order-form__checkbox {
  display: grid;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
  }
}

.order-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: auto;
    padding: 0 110px;
  }
}

.order-form__button {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 13px 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.order-form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
