.order-form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.order-form__group {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  border: none;
}

.order-form__group:last-of-type {
  margin-bottom: 34px;
}

.order-form__group-user {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.order-form__contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.order-form__field-group {
  margin: 0;
}

.order-form__field-group:not(:last-child) {
  margin-bottom: 13px;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order-form__item {
  padding: 6px 0;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.order-form__title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.field__lable {
  font-size: 16px;
  line-height: 18px;
  color: $medium-grey;
  text-transform: uppercase;
  margin-right: 14px;
}

.field__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $medium-grey;
  padding: 13px 15px;
}

.order-form__checkbox {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.control {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
}

.control__label-radio {
  color: $very-dark-grey;
}

.control__mark {
  position: absolute;
  top: -50%;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../../img/check-mark.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $medium-grey;
  padding: 12px;
  border: 1px solid $platinum;
}

.order-form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  margin-bottom: 21px;
}
