.products__wrapper {
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 66px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0;
  }
}

.products__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.products__list {
  display: grid;
  row-gap: 19px;
  margin: 0;
  padding: 0;
  padding-top: 49px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}

.products__card {
  padding: 11px 0 14px 0;
  // outline: 2px solid red;
  // outline-offset: -2px;
}
