.range {
  color: $link-icon;

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
