.selection-order__title-intro {
  margin: 0;
  margin-bottom: 37px;
}

.selection-order__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.selection-order__text-intro {
  margin: 0;
  margin-bottom: 39px;
}

.selection-order__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
