.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px 4px 8px 4px;
}

.social__link-icon {
  fill: $link-icon;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}
