.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px 4px 8px 4px;
}

.social__link--vkontakte {
  background-image: url("../img/vkontakte.svg");
}

.social__link--youtube {
  background-image: url("../img/youtube.svg");
}

.social__link--telegram {
  background-image: url("../img/telegram.svg");
}
