$black: #000000;
$white: #ffffff;
$dark-grey: #111111;
$medium-grey: #444444;
$light-red: #f06351;
$very-light-red: #e55645;
$light-yellow: #fdc305;
$special-grey: #cdcdcd;
$ashgray: #d9d9d9;
$gray: #dcdcdc;
$light-gray: #ebebeb;
$silver-gray: #eaeaea;
$very-light-gray: #f2f2f2;
$light-green: rgba(104, 183, 56, 0.85);
$green: #68b738;
$slider-green: #5eaa2f;
$very-dark-grey: #222222;
$platinum: #e7e7e7;
$status-error: #ff8282;
$control: #bababa;
$link-icon: #666666;
